notebook
jupyterlab
sap-ai-sdk-gen[all]
aioboto3
python-dotenv
boto3  # for Amazon Native Implementation
langchain  # for LangChain Implementation
langchain_aws  # for LangChain Implementation
langchain-openai  # for LangChain Implementation
langchain-google-vertexai  # for LangChain Implementation
langchain_community  # for LangChain Implementation